.alphabetCreator {
  width: 100%;
  height: 100%;
  background-color: #7a42a5;
}

.newSymbolForm {
  display: flex;
  input {
    background-color: #00000020;
    color: white;
  }
}

.addSymbolButton {
  background-color: #5c068c;
  width: 40px;
  height: 40px;
}

.alphabet {
  width: 100%;
  display: flex;
}

.draggableChain {
  background-color: #5c068c;
  min-width: 120px;
  max-width: max-content;
  height: 50px;
}

.symbolContainer {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
}

.symbolChain {
  background-color: #7a42a5;
}

.symbolChain:nth-child(even) {
  background-color: #5c068c;
}