aside {
  width: 130px;
  position:absolute;
  height: 100%;
  background-color: #5c068c;
  overflow: hidden;

  transition: width 0.2s linear;
  box-shadow: 0 20px 350px rgba(0, 0, 0, 0.14);
}

aside:hover{
  width: 280px;
  transition: all 0.5s ease;
}

nav {
  width: 100%;
  margin: 5px 0;
}


hr {
  width: 90%;
}

ol {
  list-style: none;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.navbarItem {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.14);
  border-radius: 25px;
  text-align: center;
}

.autor {
  position: absolute;
  bottom: 0;
}